<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Git Sum</h1>
            <hr>
            <p>Your Github information Summarized</p>
            <%= link_to "Log in with Github", login_path, class: "btn btn-primary btn-xl page-scroll" %>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">It's All Here</h2>
                <hr class="light">
                <p class="text-faded">Profile picture, repositories, recent commits. We got you covered.</p>
                <p class="text-faded">All your Github information in one place.</p>
                <p class="text-faded">Save time, save money. (Does that even make sense?)</p>
                <%= link_to "Get Started!", login_path, class: "btn btn-default btn-xl" %>
            </div>
        </div>
    </div>
</section>

