#inline {
  display: inline;
}

#user-show {
    background-image: url(https://s3-us-west-2.amazonaws.com/idea-box-rasensio/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 80px;
    color: white;
}

.well {
  background-color: rgba(200, 200, 200, 0.3);
}
