.inline {
  display: inline;
}

#user-show {
    background-image: url(https://s3-us-west-2.amazonaws.com/idea-box-rasensio/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 80px;
    color: white;
}

.well {
  background-color: rgba(200, 200, 200, 0.3);
  border-style: none;
  padding: 10px;
  margin: 5px;
}

.spacer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.small-spacer {
  padding-top: 15px;
  padding-bottom: 15px;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.shadow {
  box-shadow: 5px 5px 5px #888888;
}

.img-shadow {
  box-shadow: 0px 0px 7px #888888;
}

.underline {
  text-decoration: underline;
}

.btn {
  box-shadow: 5px 5px 5px #505050;
}


